html,
body {
  height: 100%;
}

body {
  font-family: "Poiret One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--text);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Стилизация полосы прокрутки */
::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

/* Оформление ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #666; /* Цвет ползунка */
  border-radius: 5px; /* Закругление углов */
}

/* Оформление трека скроллбара */
::-webkit-scrollbar-track {
  background-color: #999; /* Цвет трека */
}

:root {
  --primeryFont: "Poiret One", sans-serif;
  --secondFont: "Open Sans", sans-serif;

  --main: #82b5d1;
  --primery: #344854;
  --white: #ffffff;
  --text: #4e6d7d;
  --light: #f1f0ee;
}

/* -------------- UI -------------- */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  width: 195px;
  height: 53px;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 38px;
  font-family: var(--secondFont);
}

.product {
  height: 300px;
  width: 400px;
}
.product__img {
  position: relative;
}

.product__img:hover .product__action {
  opacity: 1;
  visibility: visible;
}

.product__action {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(104, 145, 167);
  background: rgb(205, 225, 237);
  padding: 5px 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
  visibility: hidden;
}

.product__action__link {
  width: 19px;
  margin-right: 20px;
}
.product__action__link:last-child {
  margin-right: 0px;
}

.product__description {
}
.product__title {
  margin-top: 5px;
  font-size: 1.57rem;
  font-weight: 400;
  line-height: 33px;
}
.product__prise {
  color: var(--main);
  font-family: var(--secondFont);
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 38px;
}

/* -------------- Header -------------- */
header {
  background-color: var(--light);
}

.header__container {
  height: 100px;
  color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 2.5rem;
  line-height: 47px;
}

.header__menu {
  display: flex;
}

.header__menu li {
  margin-right: 29px;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu__link {
  color: var(--main);
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 38px;
}
.header__nav {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.header__nav__icon img {
  width: 19px;
  height: 19px;
}

/* -------------- Banner -------------- */

.banner {
  background-color: var(--light);
}
.banner__container {
  display: flex;
  justify-content: space-between;
  padding: 134px 0 110px 0;
}
.banner__content {
  margin-left: 110px;
}
.banner__title {
  color: black;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 84px;
}
.banner__description {
  color: black;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 38px;
  font-family: var(--secondFont);
}
.banner__img {
  width: 40%;
}
.banner__btn {
  margin-top: 50px;
  background-color: var(--main);
}

/* -------------- Category -------------- */
.catalog__container {
  display: flex;
  height: 680px;
}
.catalog1 {
  width: 100%;
}
.catalog__item__title {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0%;
  position: absolute;
  top: 20px;
  z-index: 2;
}

.catalog1 .catalog__item__title {
  right: 20px;
}

.catalog2 .catalog__item__title {
  left: 20px;
}
.catalog__item {
  position: relative;
}

.catalog__link img {
  max-height: 100%;
}
.catalog2 {
  width: 100%;
}

/* -------------- Popular -------------- */
.popular__title {
  margin-top: 100px;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 42px;
  text-align: right;
}
.popular__products {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}
